<h1>Authors</h1>

<%= link_to "New Author", new_author_path, class: "btn btn-primary" %>

<ul>
  <% @authors.each do |author| %>
    <li>
      <%= link_to author.name, author_path(author) %> |
      <%= link_to "Edit", edit_author_path(author), class: "btn btn-secondary" %> |
      <%= link_to "Delete", author_path(author), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
